###> logging ###
LOGGER_LEVEL=DEBUG
###< logging ###

###> database ###
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=54321
PG_HOST=localhost
PG_MIGRATIONS_DIR=./migrations/postgres
###< database ###

###> cache ###
REDIS_HOST=localhost
REDIS_PORT=63791
###< cache ###

###> http ###
HTTP_HOST=localhost
HTTP_PORT=8080
###< http ###

###> grpc ###
GRPC_HOST=0.0.0.0
GRPC_PORT=50051
###< grpc ###

###>rabbitmq###
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_PANEL_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
###<rabbitmq###

###> app ###
EVENTS_QUEUE_NAME=events
EVENTS_EXCHANGE_NAME=events
EVENTS_EXCHANGE_TYPE=direct
###< app ###